 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #70e1f5; 
    background: -webkit-linear-gradient(to right, #ffd194, #70e1f5);  
    background: linear-gradient(to right, #ffd194, #70e1f5); 
    width: 100%;
    height: 100%;
}
h1, p{
    text-align: center; 
    color: #fff;
    font-size: 25px; 
    margin-top: 30px;   
}
 #container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 1rem;
    
}
.content-text{
    margin: 0px 16px;
}
input{
    border: none;
    outline: 0;
    font-size: 20px;
    background-color: #eee;
    border: none;
    width: 100%;
    margin: auto;
    color: #000;
    padding: 7px 12px;
    border-radius: 10px;
    margin-top: 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block; 
}
.content-flex{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}
.content{
    flex-direction: column;
    width: 320px;
    height: 420px;
    margin: auto;
    margin: 16px 16px;
    background: blueviolet;
    border-radius: 10px;
    will-change: transform;
    transition: transform 450ms;
    overflow: hidden;
    display: inline-block;
}
.content:hover{
    transition: transform 125ms;
    transform: translateY(10px);
    background: brown;
   
}
.content-img{
    display: flex;
    align-items: center;
    justify-self: center;
    margin-top: 30px;
    opacity: 1;
}

img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: auto;
}
@media screen and(max-width: 720px) {
    input{
        border: none;
        outline: 0;
        font-size: 15px;
        background-color: #eee;
        border: none;
        color: #000;
        padding: 5px 8px;
        border-radius: 10px;
        margin-top: 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block; 
    }
    h1, p{
        font-size: 18px;    
    }
}

button{
    margin-left: 20px;
    margin-top: 20px;
    border: none;
    outline: 0;
    border-radius: 10px;
    padding: 5px 12px;
    font-size: 18px;
    font-weight: bold;
    background: #fff;
   
}
button:hover{
    background: #c9c920;
    color: #fff;
}